{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container my-4">
    <h1 class="text-main-darkgreen">About Us</h1>
    <p class="fw-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aspernatur facere delectus tempora veritatis placeat veniam minima dolores magni, libero quos? Minima, ratione ut eligendi debitis sint, est optio inventore itaque excepturi possimus ipsum reiciendis suscipit nemo ipsam quam assumenda.</p>
    <p class="fw-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aspernatur facere delectus tempora veritatis placeat veniam minima dolores magni, libero quos? Minima, ratione ut eligendi debitis sint, est optio inventore itaque excepturi possimus ipsum reiciendis suscipit nemo ipsam quam assumenda.</p>
    <p class="fw-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aspernatur facere delectus tempora veritatis placeat veniam minima dolores magni, libero quos? Minima, ratione ut eligendi debitis sint, est optio inventore itaque excepturi possimus ipsum reiciendis suscipit nemo ipsam quam assumenda.</p>
</div>
{% endblock content %}