{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-4">
    <h1 class="text-main-darkgreen">Register</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        
        <div class="form-group mt-4">
            <button class="btn btn-success me-3" type="submit">Sign Up</button>
            <a href="{% url 'login'%}" class="text-main-darkgreen text-decoration-none">Already have an account? <strong>Sign in!</strong></a>
        </div>
    </form>
</div>
{% endblock content %}